* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
}

body {
  background-color: #f5faff;
}

.cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1240px) {
  .cards {
    flex-direction: column;
  }
}

@media (max-width: 1240px) {
  .cards {
    margin-top: 5vh;
  }
}
